# Compiled binaries
edge_finding
tests

# Reference PDF
cp2009 (1).pdf

# Object files and build artifacts
*.o
*.out
REPORT.md
plot_passes.pdf
plot_passes.png
plot_runtime_vs_k.pdf
plot_runtime_vs_k.png
plot_runtime_vs_n.pdf
plot_runtime_vs_n.png
plot.py
bench
chain
